@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    --yellow : #f4cb08 ;
    --black :#2c2c2c;
}
hr{
    height: 3px;
    background-color: var(--yellow);
    border: none;
    outline: none;
}
nav{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
nav .logo{
    font-size: 3rem;
    color: var(--black);
    margin-left: 4rem;
    font-weight: 700;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 3rem;
}
nav ul li {
    margin: 0 1.3rem;
}
nav ul li a{
    font-size: 2rem;
    color: var(--black);
    padding: 1.3rem 1.5rem 0 1.5rem;
    transition: all .3s ease;
    position: relative;
    z-index: 2;
}
nav ul li a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
    opacity: .5;
    z-index: -1;
    transition: all .3s ease;
}

nav ul li a:hover::after{
    height: 30%;
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6rem;
    width: 6rem;
    position: relative;
    margin-right: 3rem;
    cursor: pointer;
    display: none;
}
.hambar{
    width: 3.1rem;
    height: .2rem;
    border-radius: 1rem;
    background-color: #000;
    position: absolute;
    transition: all .3s ease;
}
.hambar:nth-child(1){
    top: 1.8rem;
}
.hambar:nth-child(3){
    bottom: 1.8rem;
}
.hamburger.active .hambar:nth-child(1){
    top: initial;
    transform: rotate(45deg);
}
.hamburger.active .hambar:nth-child(2){
    opacity: 0;
}
.hamburger.active .hambar:nth-child(3){
    bottom: initial;
    transform: rotate(-45deg);
}
/* Hero */
#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images01.nicepage.com/2c/aa/2caae017a61202f87bc36fab57e85a63.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
        margin-top: 8rem;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.hero img{
    width: 320px;
}
.hero-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.hero-text h2{
    font-size: 2.5rem;
    color: var(--yellow);
}
.hero-text h1{
    font-size: 4rem;    
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    color: #fff;
}
.hero-text hr{
    width: 200px;
    background-color: #c2a205;
    margin: 2rem 0;
}
.hero-text p{
    font-size: 1.7rem;
    color: #fff;
    width: 500px;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.hero-text-a{
    display: flex;
}
.hero-text a{
    padding: 1.4rem 1.5rem;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #fff;
    border-radius: .5rem;
    margin: 1.5rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.hero-text a:last-child{
    border: 2px solid #fff;
    padding: 1.5rem 3rem;
    transition: all .3s ease;
}
.hero-text a:last-child:hover{
    background-color: #fff;
    color: #000;
}
.btn{
    padding: 1.4rem 2.4rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--yellow);
    transition: all .4s ease;
    border-radius: .5rem;
}
.btn:hover{
    background-color: #c2a205;
}
/* Welcome */
#welcome{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 7rem 0;
}
.welcome-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 520px;
    margin-right: 2rem;
}
.welcome-left h2{
    font-size: 2.3rem;
    color: var(--yellow);
}
.welcome-left h1{
    font-size: 3.4rem;
    margin: 1.5rem 0;
}
.welcome-left hr{
    width: 200px;
    margin: 1.5rem 0;
}
.welcome-left p{
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: rgb(169, 169, 169);
    font-style: italic;
}
.welcome-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
    margin-left: 2.5rem;
}
.welcome-right p{
    font-size: 1.7rem;
    line-height: 3rem;
    color: var(--black);
}
.welcome-right a{
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    margin-top: 4rem;
}
@media screen and (max-width:1300px) {
    .welcome-right {
        width: 380px;
    }
    .welcome-left {
        width: 380px;
    }
}
@media screen and (max-width:1020px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    .hero img {
        width: 270px;
    }
}
@media screen and (max-width:900px) {
    nav ul{
        position: fixed;
        top: 8rem;
        width: 0%;
        left: 0;
        height: 500px;
        flex-direction: column;
        transition: all .4s ease;
        overflow: hidden;
        background-color: var(--yellow);
    }
    nav ul li {
        opacity: 0;
        transition: all .3s ease;
    }
    nav.active ul li {
        opacity: 1;
    }
    nav.active ul{
     width: 100%;
    }
    nav ul li{
        margin: 1.5rem 0;
    }
    .hamburger{
        display: inherit;
    }
    .welcome-left h1 {
        font-size: 3rem;
    }
    .welcome-left {
        width: 270px;
    }
}
@media screen and (max-width:820px) {
    .hero-text h1 {
        font-size: 3rem;
    }
    .hero-text h2 {
        font-size: 2rem;
        color: var(--yellow);
    }
    .hero img {
        display: none;
    }
    #hero {
        align-items: center;
    }
}
@media screen and (max-width:000px) {
    
}
@media screen and (max-width:000px) {
    
}
@media screen and (max-width:760px) {
    #welcome{
        flex-direction: column;
        align-items: center;
    }
    .welcome-left ,.welcome-right{
        width: 80%;
        margin-right: 0;
        margin-left: 0;
    }
    .welcome-right{
        margin-top: 2.5rem;
    }
}
@media screen and (max-width:700px) {
    .hero-text p {
        width: auto;
        padding: 0 1.5rem;
    }
}
@media screen and (max-width:000px) {
    
}
@media screen and (max-width:550px) {
    .hero {
        width: 90%;
    }
    .hero-text {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    #hero {
        height: 75vh;
    }
}
@media screen and (max-width:500px) {
    .hero-text-a{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-text-a a:first-child{
        padding: 2rem 1.5rem;
    }
    .hero-text-a a:last-child{
        padding: 2rem 3.5rem;
    }
}
@media screen and (max-width:400px) {
    #hero {
        height: 85vh;
    }
}
@media screen and (max-width:320px) {
    .hero-text hr {
        width: 100px;
    }
}
